*
{
    padding: 0px;
    margin: 0px;
}
#nav-bar>li{
    color:blue;
    display: inline-block;
    float: right;
    padding: 5px 20px 5px 5px ;
    margin: 10px;

}
#nav-bar>li:hover
{
    background-color: blue;
    color: white;
}

#blog{
        display:inline;
}

#nav-bar{
    display: inline;
    }

#header{
    border:2px solid;
    background-color:yellowgreen;
    height: 8%;
    padding:10px;
    position:fixed;
    overflow-x: hidden;
    /* overflow: hidden; */
    width:100%;
    top:0;  
}

.sidenav {
    height: 100%;
    width:160px;
    position: fixed;
    top:12%;
    /* z-index: 1; */
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  #main-page
  {
      margin-left: 160px;
      line-height: 20px;
      margin-top: 8%;
      padding: 10px;
  }

  
   #footer {
    position: fixed;
    bottom: 0; 
    height: 10%;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 } 

 
